header {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
  .logo {
    width: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      display: flex;
      width: 3rem;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
      }
    }
    h3 {
      margin-left: 1rem;
      font-size: 1rem;
    }
  }
  .header-right-co{
    display: flex;
    align-items: center;
    gap: 1rem;
    .not{
      font-size: 1.5rem;
      fill: red;
      animation: notify 0.5s infinite alternate ease-in-out;
    }
    @keyframes notify {
      from{
          transform: rotate(-10deg);
      }to{
          transform: rotate(10deg);

      }
  }

    .header-right{
      display: flex;
      align-items: center;
      cursor: pointer;
      h3{
          margin-left: 1rem;
          font-size: 0.9rem;
      }
      svg{
          font-size: 1.5rem;
      }
      &:hover{
        h3{
          color: #1877F2;
        }
        svg{
          color: #1877F2;
        }
      }
    }
  }
 

}
