.mid {
  flex: 1;
  // border: 1px red solid;
  padding: 1rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgb(207, 207, 207);
  // ===================== Ask local or camera =========
  .openStory{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    background: linear-gradient(
      to top,
      rgb(0, 0, 0) 10%,
      rgba(0, 0, 0, 0.295) 60%,
      rgb(0, 0, 0) 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
   .openStoryBigContainer{
     background-color: white;
    width: min(100% - 3%,300px);
      padding: 1rem 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    .openStoryContainer{
      display: flex;
      justify-content: space-around;
      align-items: center;
        width: 100%;
      svg{
        font-size: 2rem;
      }
      .camera-svg{
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;
        &:hover{
          svg{
            fill: #1877f2;
          }
          h4{
            color: #1877f2;
          }
        }
      }
      .upload-device{
        .publish-device-svg{
          fill: #1877F2;

        }
        label{
          display: flex;
          flex-direction: column;
          align-items: center;
          cursor: pointer;
          input{
            display: none;
          }
          &:hover{
            svg{
              fill: #1877f2;
            }
            h4{
              color: #1877f2;
            }
          }
        }
      }
    }
    .closeOpenStory{
      margin-top: 1rem;
      font-size: 1.3rem;
      cursor: pointer;
      &:hover{
        color: red;
      }
    }
   }
  }

  // =================== Camera  =======================
  .camera-component{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
      to top,
      rgb(0, 0, 0) 10%,
      rgba(0, 0, 0, 0.295) 60%,
      rgb(0, 0, 0) 100%
    );
   
  }

  // ===================== Camera ends ====================







  .mid-stories {
    display: flex;
    overflow-x: scroll;
    width: 56vw;
    gap: 2rem;
    padding-bottom: 1rem;
    &::-webkit-scrollbar {
      height: 0.3vw;
    }
    &::-webkit-scrollbar-thumb {
      background-color: rgb(201, 201, 201);
    }
    span {
      border: 1px lightgray solid;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      min-width: 10rem;
      min-height: 14rem;
      padding: 0.5rem;
      background: linear-gradient(to bottom, white, lightgray);
      box-shadow: 3px 3px 5px lightgray;
      cursor: pointer;
      svg {
        font-size: 1.5rem;
      }
      h4 {
        font-size: 1rem;
        margin-top: 1rem;
      }
    }
    .singleStory {
      border: 1px lightgray solid;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      min-width: 10rem;
      min-height: 14rem;
      padding: 0.5rem;
      box-shadow: 3px 3px 5px lightgray;
      position: relative;
      overflow: hidden;
      z-index: 2;
      cursor: pointer;
      video {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(0.7);
      }
      .image-story{
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(0.7);
        
      }
      .photoURL {
        display: flex;
        width: 3rem;
        margin-right: auto;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          clip-path: circle(30%);
        }
      }
      .play-btn{
        font-size: 3rem;
        fill: white;
        filter: drop-shadow(2px 3px 5px black);
        &:hover{
          transition: 0.5s;
          transform: scale(0.9);
          fill: #1877F2;
        }
      }
      h3 {
        font-size: 0.9rem;
        text-align: center;
        color: white;
      }
    }

    .viewStory {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background: linear-gradient(
      to top,
      rgb(0, 0, 0) 10%,
      rgba(0, 0, 0, 0.295) 60%,
      rgb(0, 0, 0) 100%
    );
      padding: 2rem;
      z-index: 3;
      video,img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
      h6 {
        font-size: 1.5rem;
        color: white;
        position: absolute;
        top: 1rem;
        right: 1rem;
        cursor: pointer;
      }
    }
  }
  // ================================ Post =================
  .post-form {
    // border: 1px red solid;
    margin: 2rem 0;
    form {
      display: flex;
      justify-content: space-between;
      // flex-wrap: wrap;
      align-items: center;
      @media only screen and (max-width:1000px) {
        flex-wrap: wrap;
        justify-content: start;
        .post-form-btns{
          margin-top: 1rem;
          padding-left: 0.5rem;
        }
      }
      a{
        display: flex;
        width: 2rem;
        img{
          width: 100%;
          height: 100%;
          border-radius: 10px;
        }
      }
      input {
        width: 80%;
        font-size: 1rem;
        padding: 0.5rem;
        outline: none;
        border: none;
        background-color: inherit;
      }
      .post-form-btns {
        display: flex;
        justify-content: center;
        align-items: center;
        label {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 1rem;
          svg {
            font-size: 1.5rem;
            cursor: pointer;
          }
          input{
            display: none;
          }
        }
        button{
          display: flex;
          min-width: 6rem;
          justify-content: space-evenly;
          align-items: center;
          background-color: #1877F2;
          border: none;
          outline: none;
          padding: 0.5rem 0;
          border-radius: 5px;
          h3{
            font-size: 1rem;
            color: white;
          }
          svg{
            font-size: 1rem;
            fill: white;
            cursor: pointer;
          }
        }
      }
    }
  }
  // =================================== POSTS =============
  .posts{
    .singlePost{
      border: 1px lightgray solid;
      width: min(100% - 3%,600px);
      margin: 1rem auto;
      padding: 0.5rem;
      cursor: pointer;
      box-shadow: 3px 3px 5px rgb(187, 187, 187);
      h2{
        margin-bottom: 1rem;
        font-size: 1.2rem;
        border-bottom: 1px solid #cfcfcf;
        padding-bottom: 1rem;
      }
      a{
        display: flex;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .postVideo{
       position: relative;
        video{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
        .playVideoPostContainer{
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          .playVideoPost{
            font-size: 4rem;
            fill: white;
            filter: drop-shadow(2px 3px 5px black);
            transition: 0.5s;
            &:hover{
              transition: 0.5s;
              transform: scale(0.9);
              fill: #1877F2;
            }
          }
        }
      }
      .post-btns{
        width: min(100%,130px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1rem 0;
        svg{
          font-size: 1.2rem;
          &:hover{
            transform: scale(0.9);
          }
          &:nth-child(3){
            fill: red;
          }
        }
      }
     .commentsForm{
      border: 1px lightgray solid;
      display: flex;
      justify-content: space-between;
      input{
        flex: 1;
        padding: 0.5rem;
        border: none;
        outline: none;

      }
      button{
        padding: 0 0.5rem;
        border: none;
        outline: none;
        transition: 0.5s;
        &:hover{
        transition: 0.5s;
          background-color: #1877F2;
          svg{
            fill: white;
          }
        }
      }
     }
     .postComments{
      list-style: none;
      height:7rem;
      overflow-y: auto;
      &::-webkit-scrollbar{
        background-color: white;
        width: 0.3rem;
      }
      &::-webkit-scrollbar-thumb{
        background-color: lightgray;
      }
      li{
        border-bottom: 1px solid lightgray;
        padding: 0.5rem;
        span{
          display: flex;
          justify-content: space-between;
          align-items: center;
         h6{
          color: gray;
          font-size: 0.9rem;
         }
         svg{
          font-size: 0.9rem;
          fill: red;
         }
        }
      }
     }
    }
  }
}
